@import "tailwindcss";

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

@theme {
  --color-text-white: #fcfcfc;
  --main-dark: #081222;
  --main-red: #b20202;
  --main-light-green: #508f8c;
  --gradient-from: #294045;
  --gradient-to: #1e2f33;
}

body {
  color: var(--color-text-white);
}
