@import "tailwindcss";

@theme {
  --color-text-white: #fcfcfc;
  --main-dark: #081222;
  --main-red: #b20202;
  --main-light-green: #508f8c;
  --gradient-from: #294045;
  --gradient-to: #1e2f33;
}

body {
  color: var(--color-text-white);
}
